{% extends  "layout/basic.html"%}
{% load static %}


{% block content %}
	<div class="container mt-2">
		<div class="row">
			{% for product in products %}
			<div class="card border-warning mx-1 my-1"  product-id="{{ product.id }}" style="width: 20rem;">
				<img src="{{MEDIA_URL}}{{ product.image }}" width="260" height="260" class="card-img-top mt-3" alt="свеча">
				<div class="card-body text-center">
					<h5 class="card-title">{{ product.title }}</h5>
					<p class="card-text">{{ product.description }}</p>
					<p>Цена: {{ product.price }} руб.</p>
						<div class="quantity">
							<div class="wrapper">
								<input type="button" class="minus">
								<span class="minus-ico"></span>
								<input class="amount" type="text" readonly="readonly" name="number" value="1">
								<input type="button" class="plus">
								<span class="plus-ico"></span>
							</div>
						</div>
					<button class="btn btn-primary">Добавить в корзину</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div>
		{% if page.has_previous %}
		<a href="?page={{ page.previous_page_number }}">&lt;</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		{% endif %}
		Часть №{{ page.number }} из {{ page.paginator.num_pages }}
		{% if page.has_next %}
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="?page={{ page.next_page_number }}">&gt;</a>
		{% endif %}
	</div>
	<script src="{% static 'home/js/main.js' %}"></script>
{% endblock content %}